<div class="modal-header">
  <h4 class="modal-title pull-left">
    Confirm remove member
  </h4>
  <button type="button" class="pull-right close" aria-label="Close" (click)="onClosed()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr class="mt-0 mb-0" />
<div class="modal-body">Are you sure you want to remove this member ?</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClosed()">
    {{ 'PROFILE_STATUS_CHANGE.ABORT' | translate }}
  </button>
  <button type="button" class="btn btn-danger" (click)="onConfirm()">
    {{ 'PROFILE_STATUS_CHANGE.ACCEPT' | translate }}
  </button>
</div>